/*--------------------------------------------------------------*/
/*	Navbar
/*--------------------------------------------------------------*/
.main-navigation .menu>li .sub-menu>li.current-menu-ancestor>a,
.main-navigation .menu>li .sub-menu>li.current-menu-parent>a,
.main-navigation .menu .current-menu-ancestor>a,
.main-navigation .menu .current-menu-parent>a,
.main-navigation .menu .current-menu-item>a,
.main-navigation .menu>li>a:hover {
	color: #ffffff !important;
}

.main-navigation .menu>li .sub-menu>li>a:hover {
    color: #fff !important;
    background-color: #0c3c4c;
    text-decoration: none;
}

.sub-menu li.current-menu-item>a{
	color: #fff;
}

.main-navigation .menu li.menu-item-has-children>a+.menu-arrow-button i {
    color: #ffffff;
}
.main-navigation .menu .sub-menu li.menu-item-has-children .menu-arrow-button i {
	color: #0c3c4c;
}

.main-navigation .menu>li .sub-menu {
    border-top: 3px solid #0c3c4c;
}

.main-navigation .menu>li>.sub-menu li>.sub-menu {
	border-top: 3px solid #0c3c4c;
}
.logo_class {
	padding-bottom: 1%;
}

@media screen and (min-width: 767px) {
	#primary-menu>li.menu-item-has-children>a+.menu-arrow-button.sub-menu-show {
		transform: rotate(270deg);
		-webkit-transform: rotate(270deg);
		-moz-transform: rotate(270deg);
		-ms-transform: rotate(270deg);
		-o-transform: rotate(270deg);
	}
}

@media screen and (min-width: 767px) {
	#primary-menu .sub-menu li.menu-item-has-children>a+.menu-arrow-button.sub-menu-show {
		transform: rotate(270deg);
		-webkit-transform: rotate(270deg);
		-moz-transform: rotate(270deg);
		-ms-transform: rotate(270deg);
		-o-transform: rotate(270deg);
	}
}

/**
 * Mobile Menu
**/

@media screen and (max-width: 767px) {
	button.open-nav-btn {
		border: 2px solid #fff;
	}
	button.open-nav-btn i {
		color: #fff;
		font-size: 1.5rem;
	}
	button.open-nav-btn:hover i {
		color: #0c3c4c;
	}
	.slide-content {
		border-top: 3px solid #0c3c4c;
	}
	.slide-content .close-btn {
		background-color: #0c3c4c;
	}
	.main-navigation .menu>li .sub-menu>li.current-menu-ancestor>a,
	.main-navigation .menu>li .sub-menu>li.current-menu-parent>a, 
	.main-navigation .menu .current-menu-ancestor>a, 
	.main-navigation .menu .current-menu-parent>a, 
	.main-navigation .menu .current-menu-item>a, 
	.main-navigation .menu>li>a:hover {
		color: #0c3c4c !important;
	}
	.main-navigation .menu>li>a {
		text-decoration: none;
	}
	.main-navigation .menu>li>a:after, .main-navigation .menu>.current-menu-item>a:after {
		display: none;
	}
	.main-navigation .menu li.menu-item-has-children>a+.menu-arrow-button i {
		color: #0c3c4c !important;
	}
}

/*--------------------------------------------------------------*/
/*	Cart Icon
/*--------------------------------------------------------------*/

.shopping-cart:hover > a { color: #0c3c4c; }
.shopping-cart > a .cart-total { background-color: #0c3c4c; }

/*--------------------------------------------------------------*/
/*	Default Html Elements
/*--------------------------------------------------------------*/

a:hover, a:focus, a:active { color: #cd0000; }
blockquote:before { color: #cd0000; }

button, button[disabled]:hover, 
button[disabled]:focus, 
input[type="button"], 
input[type="button"][disabled]:hover, 
input[type="button"][disabled]:focus, 
input[type="reset"], 
input[type="reset"][disabled]:hover, 
input[type="reset"][disabled]:focus, 
input[type="submit"], 
input[type="submit"][disabled]:hover, 
input[type="submit"][disabled]:focus {
	background: #0c3c4c;
}

button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus {
    background: #cd0000;
}
/*--------------------------------------------------------------*/
/*	Footer Copyrights - Site Info
/*--------------------------------------------------------------*/

.site-info a:hover, .site-info a:focus { color: #0c3c4c; }

/*--------------------------------------------------------------*/
/*	Header Top Info
/*--------------------------------------------------------------*/

.header-contact-info li i { color: #0c3c4c; }
.header-top .btn { background-color: #0c3c4c; }


/*--------------------------------------------------------------*/
/*	Owl Carousel Next Prev 
/*--------------------------------------------------------------*/

.owl-carousel .owl-prev:hover, 
.owl-carousel .owl-next:hover { 
	background-color: #0c3c4c; 
}

#owl-main .owl-nav button:hover {
    background: #0c3c4c;
}

/*--------------------------------------------------------------*/
/*	Owl Carousel Paginations / Dots
/*--------------------------------------------------------------*/

.owl-theme .owl-dots .owl-dot.active span, 
.owl-theme .owl-dots .owl-dot:hover span {
    background: rgb(250 166 21);
}
.testimonial-one .owl-theme .owl-dots .owl-dot.active span, 
.testimonial-one .owl-theme .owl-dots .owl-dot:hover span {
	background: rgb(250 166 21);
}
#owl-portfolio .owl-nav button:hover {
	background: rgb(250 166 21);
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    box-shadow: 0 0 0 5px #0c3c4c4d;
}

/*--------------------------------------------------------------*/
/*	Section And Mixed Element Css
/*--------------------------------------------------------------*/

.divider-main::before { background: #0c3c4c; }
.theme-default { background-color: #0c3c4c; }
.text-default { color: #0c3c4c !important; }
.btn-animation:before {	background-color: #fff; }

/*--------------------------------------------------------------*/
/*	Slider
/*--------------------------------------------------------------*/
#slider .btn-skin {
    background-color: #fff;
    box-shadow: 0 0px 0px 0 rgb(0 0 0 / 20%);
    border: none;
	color: #000;
}
#slider .btn-skin:hover {
    background-color: #000;
	color: #fff;
}

.feature:nth-child(2) {
    background: #0c3c4c;
}
.scroll-down:hover {
    background: #0c3c4c;
}


/*--------------------------------------------------------------*/
/*	Section Header
/*--------------------------------------------------------------*/

.entry-header .entry-title > a:hover, 
.entry-header .entry-title > a:focus, 
.entry-header .entry-title > a:active { color: #0c3c4c !important; }

.page-title-module:before {
	background: #0c3c4c;
}

/*--------------------------------------------------------------*/
/*	Page Title Section
/*--------------------------------------------------------------*/

.page-breadcrumb > li a:hover, .page-breadcrumb > li a:focus, 
.page-breadcrumb > li.active { color: #cd0000; }

/*--------------------------------------------------------------*/
/*	Funfact Section
/*--------------------------------------------------------------*/

.funfact .funfact-icon {
    color: #0c3c4c;
}

/*--------------------------------------------------------------*/
/*	About Us
/*--------------------------------------------------------------*/

#about .btn-skin {
    background-color: #0c3c4c;
    box-shadow: 0 0px 0px 0 rgb(0 0 0 / 20%);
    border: none;
	color: #fff;
}
#about .btn-skin:hover {
    background-color: #000;
	color: #fff;
}

.about-img-holder img {
    border-radius: 2px;
    -webkit-box-shadow: -30px -30px 0px 0px #0c3c4c;
    -moz-box-shadow: -30px -30px 0px 0px #0c3c4c;
    box-shadow: -30px -30px 0px 0px #0c3c4c;
}

/*--------------------------------------------------------------*/
/*	Team Section
/*--------------------------------------------------------------*/

.team-module:hover .team-caption { border-bottom: 2px solid #0c3c4c !important; }
.team-overlay { background: rgba(<?php echo $r; ?>, <?php echo $g; ?>, <?php echo $b; ?>, 0.7); }

/*--------------------------------------------------------------*/
/*	Blog Section 
/*--------------------------------------------------------------*/

.inner-header .inner-title > a:hover,
.inner-header .inner-title > a:focus,
.inner-header .inner-title > a:active {
    color: #cd0000;
}

.more-link:hover,
.more-link:focus {
    color: #cd0000;
}

.post .post-meta span:first-child {
    color: #cd0000;
}

.post-thumbnail .post-meta span:focus, 
.post-thumbnail .post-meta span:hover {
    color: #cd0000;
    text-decoration: none;
}

#news .post .post-widget li {
	margin-left: 25px; 
}

/*--------------------------------------------------------------*/
/*	Contact Section 
/*--------------------------------------------------------------*/
#contact .section-header {
	border-left: 4px solid #0c3c4c;
}

#contact .section-header h1 {
	color: #0c3c4c;
}


/*--------------------------------------------------------------*/
/*	Comments
/*--------------------------------------------------------------*/

.comments-area .form-submit .submit {
	background-color: #0074da;
}
.comment-body .reply-btn a,
.comment-body .edit-btn a {
	background-color: #0c3c4c;
}
.comments-area{
	padding: 15px;
}
/*--------------------------------------------------------------*/
/*	Sidebars & Widgets Section
/*--------------------------------------------------------------*/

.sidebar .widget .widget-title {
    background: #0c3c4c;
}

.theme-dark .site-footer .widget {
    background: hsl(210deg 3% 14% / 73%);
}

.sidebar ul li a:hover {
	color: #cd0000 !important;
}

.widget .tagcloud a:hover {
    background: #0c3c4c !important;
}
.widget .widget-title .rsswidget {
	color: #fff;
}
.border-box:before {
    background: #0c3c4c;
}
.border-box:after {
    background: #0c3c4c;
}

.theme-dark .widget li a:hover {
    color: #0c3c4c;
}

/*--------------------------------------------------------------*/
/*	Index
/*--------------------------------------------------------------*/

.post-widget li img.avatar {
	margin-top: 0;
}

.post ul.post-widget {
	width: fit-content;
    border-radius: 20px;
    background: #0c3c4c0d;
}
.post ul.post-category li {
	padding: 0px 10px;
    border-radius: 20px;
    background: #0c3c4c;
	color: #fff;
}
.post ul.post-category li a {
	color: #fff;
	text-transform: capitalize;
}

/*--------------------------------------------------------------*/
/*	404 Error Page
/*--------------------------------------------------------------*/

.error-404 i { color: #0c3c4c; }

/*--------------------------------------------------------------*/
/*	Contact Page
/*--------------------------------------------------------------*/

.contact-area:before { 
	border-top-color: #0c3c4c; 
	border-bottom-color: #0c3c4c;
} 
.contact-area:after {
	border-left-color: #0c3c4c;
	border-right-color: #0c3c4c;
} 
.contact-area i.fa { color: #0c3c4c; }

/*--------------------------------------------------------------*/
/*	Page Scroll Up
/*--------------------------------------------------------------*/

.page-scroll-up {
	background-color: #0c3c4c;	
}
.page-scroll-up:hover, .page-scroll-up:focus {
	background-color: #000; 
}

.sponsors img:hover {
	border: 1px solid #0c3c4c !important;
}
.team-caption .designation {
    color: #0c3c4c !important;
}
.blog .post:before { 
	background-color: #0c3c4c !important;
}
.service-2 .post:before {
	background-color: #0c3c4c !important;
}
.service-one .post { 
	border-bottom: 4px solid #0c3c4c !important;
}

.contact-info-module:hover .contact-icon { 
	border: 3px solid #0c3c4c !important;
}
.team-avatar .team-social-icons a:hover {
	color: #0c3c4c !important;
}

.testimonial-one .review:before {
	background-color: #0c3c4c !important;
}

.team-module-two:before {
	background-color: #0c3c4c !important;
}

.team-module-two .team-social-icons a:hover{
	color: #0c3c4c !important;
}
figure.portfolio-snipone:before {
    background-color:  #0c3c4c !important;
	border-right: 1px solid  #0c3c4c !important;
}
figure.portfolio-snipone i:hover{
	color:  #0c3c4c !important;
}

.portfolio-snipone a:hover{
	color: #0c3c4c !important;
}


/*--------------------------------------------------------------*/
/*	Woocommerce Custom CSS
/*--------------------------------------------------------------*/
.shop .add-to-cart a {
    background-color: #0c3c4c;
	color: #fff;
}
.shop .product-sale {
    color: #0c3c4c;
}
.shop .inner-content ins {
    background-color: #0c3c4c;
	color: #fff;
}
.woocommerce span.onsale {
	color: #0c3c4c;
}
.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
    background-color: #0c3c4c;
}
.woocommerce .commentlist .star-rating {
    color: #0c3c4c;
}
.woocommerce #reviews #comments ol.commentlist li img.avatar {
	background-color: #0c3c4c;
}
.woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover {
    color: #0c3c4c;
    border: none;
}
.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover {
	background-color: #0c3c4c;
}
.woocommerce ul.products li.product .price ins{
	 background: #0c3c4c;
}

.theme-dark .product_meta span a:hover{
	color: #0c3c4c;
}
.theme-dark .woocommerce-product-rating a:hover{
	color: #0c3c4c;
}
.theme-dark.woocommerce div.product p.price ins,
.theme-dark.woocommerce div.product span.price ins {
	background: #0c3c4c !important;
}


p.stars .star-1,
p.stars .star-2,
p.stars .star-3,
p.stars .star-4,
p.stars .star-5 {
	color: #0c3c4c;
}

.widget #wp-calendar a {
	color: #0c3c4c;
}

.next.page-numbers,
.prev.page-numbers{
	background-color: #0c3c4c;
}
.site-footer .widget_calendar .wp-calendar-nav span a:hover{
	color: #0c3c4c;
}

.tagcloud a:hover,
.widget .tagcloud a:hover,
.widget .wp-block-tag-cloud a:hover {
    background: #0c3c4c !important;
	border: 1px solid #0c3c4c !important;
}

.theme-dark .wp-calendar-nav-prev a:hover{ color: #0c3c4c; }
.widget #wp-calendar caption {
    background-color: #0c3c4c !important;
}

.widget .tagcloud a:focus,
.widget .tagcloud a:hover,
.widget .wp-block-tag-cloud a:focus,
.widget .wp-block-tag-cloud a:hover {
	background: #0c3c4c !important;
}

/*Author CSS*/
.blog-author img {
    border: 2px solid #0c3c4c;
}
.prev-post-title span,
.next-post-title span{
	color: #0c3c4c;
}
.post-navigation i{
	color: #0c3c4c;
}

.pagination a:focus,
.pagination a:hover,
.pagination span.current {
    color: #FFFFFF;
    background-color: #0c3c4c;
}